
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mainSection {
  flex-grow: 1;
}
.bgPrincipalBlog{
  background: #e53938;
}
.textPrincipalBlog{
  color: #e53938;
}
.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
}
.btnError{
  background: #e53938;
  width: 200px;
  border: #e53938 .1em solid;
}
.btnError:hover{
  background: #ed96a4;
  border: #ed96a4 .1em solid;
}